
.header {
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center; 
  gap: 2rem;
  margin-bottom: 2rem;
}
nav button {
  background-color: #fff3e6;     
  border: 1px solid #e86a33;    
  border-radius: 10px;            
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #e86a33;     
}

nav button a  {
  font-weight: bold;
  color: #e86a33; 
  text-decoration: none;
  display: block;  
  transition: all 0.3s ease;
}

nav button:hover a {
  color:white;
  transform: translateY(-2px);
}
