body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cotainer {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h1 {
  color: #e86a33;
}

.table-box {
  display: flex;
  justify-content: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #e86a33;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background-color: #fff3e6;
}